
/* Blocks */

li {
  list-style-type: none;
}

main {
  display: flex;
}

.sideBar {
  width: clamp(300px, 45vh, 750px);
  height: 100vh;
}

.sideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.signUp {
  width: clamp(462px, 100%, 500px);
}

.demos, .background, .validation {
  margin: 1rem 0;
}

.listItem {
  display: flex;
}


/* Elements */

.listItems-containers {
  display: flex;
  flex-direction: column;
}

.signUp-btn {
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
}

/* Modifiers */
