
/* Blocks */

li {
  list-style-type: none;
}

.signUp {
  width: clamp(462px, 100%, 500px);
}

.demos, .background, .validation {
  margin: 1rem 0;
}

.listItem {
  display: flex;
}

/* Elements */

.listItems-containers {
  display: flex;
  flex-direction: column;
}

.signUp-btn {
  display: block;
  text-transform: uppercase;
  margin: 0 auto;
}

/* Modifiers */
