@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Inter:wght@100;300;600;700;900&family=Space+Mono:wght@400;700&display=swap');

*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: linear-gradient(#fcbc9c,#f82eb5, #9198e5, #3e469e);
}

/* Blocks */

:root {
  font-size: 1.25rem;
}

body {
  height: 100vh;
  font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bgColor);
}

li {
  list-style-type: none;
}

main {
  display: flex;
  height: 100%;
}

.sideBar {
  width: clamp(200px, 25vw, 603px);
  height: 100%;
  overflow: hidden;
}

.sideImage {
  width: min(100%);
  height: 100%;
  object-fit: cover;
}

.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(462px, 100%, 75vw);
  height: 100%;
  gap: 1rem;
}

/* .demos, .background, .validation {
  margin: 1rem 0;
} */

.demos, .background {
  margin-bottom: 1rem;
}

.listItem {
  display: flex;
}

.preface {
  background-color: rgba(14, 24, 134, 0.3);
  padding: 1rem;
  margin-bottom: 20px;
}


/* Elements */

.listItems-containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(200px, 270px, 300px);
}

.signUp-BG {
  background-color: #fce8f8;
  width: 100%;
  height: fit-content;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0px -40px 100px -100px #5e2c2c, 0px 40px 100px -50px #3620b4;
}

.preface-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.40rem;
}

.signUp-btn {
  display: block;
  background-color: #0e1886;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto;
  padding: 1rem 2rem;
  border: none;
}

.demos-inputs {
  width: clamp(100px, 100%, 250px);
}

.demos-inputs:invalid {
  border: 1px solid red;
}

.demos-labels {
  font-weight: 600;
}

/* Media Queries */

@media (min-width: 1126px) and (max-width: 1384px) {
  .preface-text {
    font-size: 1.20rem;
  }
  .sideBar {
 
  }
  .signUp {
    width: 100vw;
  }
}

@media (max-width: 1125px) {
  .preface-text {
    font-size: 1.20rem;
  }
  .sideBar {
    width: 10vw;
  }
  .signUp {
    width: 90vw;
  }
}